In [6]:
import pandas as pd

In [8]:
df=pd.read_csv(r"C:\Users\usuario\Downloads\housing_fincaraiz.csv",sep=";")

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8428 entries, 0 to 8427
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   habitaciones            8428 non-null   object
 1   baños                   8428 non-null   object
 2   parqueaderos            8428 non-null   object
 3   area_construida         8428 non-null   object
 4   area_privada            8428 non-null   object
 5   estrato                 8428 non-null   int64
 6   estado                  8428 non-null   object
 7   antiguedad              8428 non-null   object
 8   administracion          8428 non-null   object
 9   precio_m2               8428 non-null   object
 10  Ascensor                8428 non-null   int64
 11  Circuito cerrado de TV  8428 non-null   int64
 12  Parqueadero Visitantes  8428 non-null   int64
 13  Portería / Recepción    8428 non-null   int64
 14  Zonas Verdes            8428 non-null   int64
 15  Salón Comunal           8428 non-null   int64
 16  Balcón                  8428 non-null   int64
 17  Barra estilo americano  8428 non-null   int64
 18  Calentador              8428 non-null   int64
 19  Chimenea                8428 non-null   int64
 20  Citófono                8428 non-null   int64
 21  Cocina Integral         8428 non-null   int64
 22  Terraza                 8428 non-null   int64
 23  Vigilancia              8428 non-null   int64
 24  Parques cercanos        8428 non-null   int64
 25  Estudio                 8428 non-null   int64
 26  Patio                   8428 non-null   int64
 27  Depósito / Bodega       8428 non-null   int64
 28  nombre                  8428 non-null   object
 29  ubicacion               8428 non-null   object
 30  precio                  8428 non-null   object
dtypes: int64(19), object(12)
memory usage: 2.0+ MB

In [28]:
df.dtypes

habitaciones              object
baños                     object
parqueaderos              object
area_construida           object
area_privada              object
estrato                    int64
estado                    object
antiguedad                object
administracion            object
precio_m2                 object
Ascensor                   int64
Circuito cerrado de TV     int64
Parqueadero Visitantes     int64
Portería / Recepción       int64
Zonas Verdes               int64
Salón Comunal              int64
Balcón                     int64
Barra estilo americano     int64
Calentador                 int64
Chimenea                   int64
Citófono                   int64
Cocina Integral            int64
Terraza                    int64
Vigilancia                 int64
Parques cercanos           int64
Estudio                    int64
Patio                      int64
Depósito / Bodega          int64
nombre                    object
ubicacion                 object
precio                    object
dtype: object

In [32]:
df1=df[['ubicacion','habitaciones','nombre','parqueaderos','area_construida','area_privada','estado', 'estrato','precio','antiguedad','precio_m2']]

In [57]:
df1.precio.max(
    
)

'999000000'

In [59]:

df1.max()

ubicacion                   zuñiga
habitaciones           No definida
nombre                        Casa
parqueaderos             Más de 10
area_construida            99,7 m²
area_privada              99,41 m²
estado                  Remodelado
estrato                          6
precio                   999000000
antiguedad          más de 30 años
precio_m2          $ 969.305,33*m²
dtype: object

In [60]:
df1.min()

ubicacion              12 de Octubre
habitaciones                       1
nombre                   Apartamento
parqueaderos                       0
area_construida                 1 m²
area_privada                    0 m²
estado                         Bueno
estrato                            0
precio                    1000000000
antiguedad                1 a 8 años
precio_m2          $ 1.028.571,43*m²
dtype: object

In [62]:
df.isna().sum()

habitaciones              0
baños                     0
parqueaderos              0
area_construida           0
area_privada              0
estrato                   0
estado                    0
antiguedad                0
administracion            0
precio_m2                 0
Ascensor                  0
Circuito cerrado de TV    0
Parqueadero Visitantes    0
Portería / Recepción      0
Zonas Verdes              0
Salón Comunal             0
Balcón                    0
Barra estilo americano    0
Calentador                0
Chimenea                  0
Citófono                  0
Cocina Integral           0
Terraza                   0
Vigilancia                0
Parques cercanos          0
Estudio                   0
Patio                     0
Depósito / Bodega         0
nombre                    0
ubicacion                 0
precio                    0
dtype: int64